.expback {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index:9999;
  background-color:#000000;
  opacity: 0.8;
}
.expmenu {
  width: 400px;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 7px;
  z-index:10000;
  box-shadow: 4px 4px 80px #000;
  .expinner {
    padding: 20px;
    color: black;
    .explogo {
      height: 105px;
      background: url(/images/clock.png) no-repeat center center;
    }
    .expreturn {
      min-width: 300px;
      height: 70px;
      background: url(/images/back.png) no-repeat center center;
      background-size: cover;
    }
    p {
      margin: 15px 0;
      font-size: 130%;
      text-align: center;
    }
  }
  .expheader {
    color: white;
    background-color: #39a2fd;
    border-radius: 7px 7px 0 0;
    padding: 10px 20px;
    h1 {
      font-size: 300%;
      font-weight: bold;
      margin: 5px 0 10px 0;
    }
    .expclose {
      display: inline-block;
      position: absolute;
      right: 15px;
      top: 25px;
      border: solid 2px white;
      border-radius: 17px;
      width: 30px;
      text-align: center;
      font-size: 30px;
      font-family: Arial, sans-serif;
      cursor: pointer;
    }
    p {
      font-size: 180%;
      line-height: 150%;
    }
  }
}

.rtl .expheader .expclose {
  left: 15px;
  right: inherit;
}
