<div class="abmodal" ng-show="isShown">
  <div class="abback"  ng-click="showAb(false)">
  </div>
  <div class="abmenu">
    <div class="abheader">
      <h1>Accessibility</h1>
      <span class="abclose" ng-click="showAb(false)">&times;</span>
      <p translate="">Accessibility Menu is active. Turn on the headphones and/or select a profile from the list below.</p>
    </div>
    <div class="abinner">
      <ul class="ab-list">
        <li><a href="" translate="" ng-click="toggleContrast()">Color Contrast</a></li>
        <li><a href="" translate="" ng-click="toggleLarge()">Enlarged Fonts</a></li>
      </ul>
      <a href="" class="ab-statement" translate="">Accessibility Statement</a>
    </div>
  </div>
</div>
