<div class="main hotels">

    <div class="left">
        <div class="define"></div>
        <h1>Hotels</h1>
        <ul class="leftmenu" ng-nicescroll nice-option="{touchbehavior:true, cursorcolor: '#c71f24'}">
            <li ng-repeat="post in $ctrl.posts track by $index" ng-click="$ctrl.setCurrentContent(post)">
                <img src="" ng-src="{{post.thumbnail}}" />
                <a href="#" ng-bind-html="post.title"></a>
              <span ng-bind="post.custom_fields.location[0]"></span>
                <span class="infomenu"></span>
            </li>
        </ul>
    </div>
    <div class="right">
        <div map-lazy-load="https://maps.google.com/maps/api/js" style="height: 100%">
          <ng-map id="map" center="Netanya" zoom="13" default-style="false" style="height: 100%">
            <custom-marker ng-repeat="m in $ctrl.locations"
                           id="custom-marker-{{$index}}"
                           position="{{m.custom_fields.location[0]}}"
            >
              <div class="mark hotelsmark"></div>
            </custom-marker>
          </ng-map>
        </div>
<!--
        <div class="mark hotelsmark mark07"></div>
        <div class="mark hotelsmark mark08"></div>
        <div class="mark hotelsmark pink mark09"></div>
-->
    </div>
    <div class="small nav">
        <ul>
            <li class="back">
                <a href="#" /></a>
            </li>
            <li class="home">
                <a href="#" /></a>
            </li>
            <li class="disabled">
                <a href="#" /></a>
            </li>
        </ul>
    </div>
</div>
