.home {
  //background: url('/images/backhome.png');
  //background-size: cover;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0773c2+53,083062+100,0867b8+100,5190e3+100 */
  background: #0773c2; /* Old browsers */
  background: -moz-linear-gradient(45deg, #0773c2 53%, #083062 100%, #0867b8 100%, #5190e3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #0773c2 53%, #083062 100%, #0867b8 100%, #5190e3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #0773c2 53%, #083062 100%, #0867b8 100%, #5190e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0773c2', endColorstr='#5190e3', GradientType=1); /* IE6-9 fallback on horizontal gradient */

  &.contrast {
    background: #000;
    .info {
      background: #000;
    }
    .left .define {
      background-color: #000;
    }
    * {
      filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
    }
  }

  ul.top {
    text-align: center;
    padding: 227px 20px 0;
    li {
      display: inline-block;
      vertical-align: top;
      width: 24%;
      position: relative;
      margin-bottom: 55px;
      a {
        color: #fff;
        font-size: 36px;
        text-decoration: none;
        line-height: 40px;
        &:before {
          content: "";
          width: 183px;
          height: 179px;
          border-radius: 50%;
          display: block;
          cursor: pointer;
          margin: 0 auto 16px;
          background-image: url('/images/sprites.png');
        }
        &:after {
          content: "";
          width: 60px;
          height: 60px;
          border-radius: 50%;
          display: block;
          position: absolute;
          top: 118px;
          right: 45px;
          background: #fff;
          text-align: center;
          color: #003369;
          font-size: 36px;
          font-weight: bold;
          box-sizing: border-box;
          padding-top: 14px;
        }
      }
      &:hover a:before {
        background-color: #0061a1;
      }
      &:nth-child(1) a {
        padding: 0 50px;
        text-align: center;
        display: block;
        &:after {
          content: "1";
        }
        &:before {
          background-position: -57px -501px;
        }
      }

      &:nth-child(2) a {
        &:after {
          content: "2";
        }
        &:before {
          background-position: -353px -501px;
        }
      }

      &:nth-child(3) a {
        &:after {
          content: "3";
        }
        &:before {
          background-position: -651px -501px;
        }
      }

      &:nth-child(4) a {
        &:after {
          content: "4";
        }
        &:before {
          background-position: -945px -501px;
        }
      }

      &:nth-child(5) a {
        &:after {
          content: "5";
        }
        &:before {
          background-position: -352px -823px;
        }
      }

      &:nth-child(6) a {
        &:after {
          content: "6";
        }
        &:before {
          background-position: -655px -823px;
        }
      }
    }
  }
}
