<div
  class="main posts {{$ctrl.section.name}}"
  ng-class="{contrast: $ctrl.isContrast, rtl: $ctrl.languageFactory.getLanguage() === 'he'}"
  key-nav
>
  <div class="left" ng-class="{cat: $ctrl.section.isCat}">
    <div class="catimage" ng-if="$ctrl.section.isCat"></div>
    <div class="define"></div>
    <h1 ng-bind-html="$ctrl.catTitle"></h1>
    <div id="menu-container" class="nicescroll">
      <ul class="leftmenu">
        <li ng-repeat="post in $ctrl.posts track by $index"
            ng-click="$ctrl.setCurrentContent(post)"
            class="post"
            ng-class="{selected: $ctrl.post.id === post.id}"
            ng-if="!$ctrl.section.isCat"
            nav-item="$index"
        >
          <img class="menuimage" ng-src="{{post.thumbnail}}"/>
          <a href="#" ><span class="white" ng-bind="post.date" ng-if="$ctrl.section.name === 'news'"></span> <span ng-bind-html="post.title"></span></a>
          <span class="infomenu"></span>
        </li>
        <li ng-repeat="cat in $ctrl.posts"
            class="cat"
            ng-if="$ctrl.section.isCat">
                  <a href="" ng-bind-html="cat.title" ng-click="$ctrl.loadCat(cat.id)" nav-item="$index"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div map-lazy-load="{{$ctrl.mapsUrl}}" id="map-outer" ng-if="$ctrl.section.name != 'news'">
      <ng-map id="map" center="Netanya" zoom="13" default-style="false"
              scale-control="false"
              zoom-control="false"
              overview-map-control="false"
              pan-control="false"
              scale-control="false"
              rotate-control="false"
              street-view-control="false"
              map-type-control="false"
              fullscreen-control="false"
              sign-in-control="false"
              clickable-icons="false"
              disable-default-ui="true"
      >
        <custom-marker ng-repeat="m in $ctrl.locations"
                       id="custom-marker-{{m.id}}"
                       position="{{m.location}}"
                       on-click="$ctrl.setCurrentContent(m)"
        >
          <div class="mark" ng-class="$ctrl.section.name+'mark'"></div>
        </custom-marker>
      </ng-map>
    </div>
    <div class="inner nicescroll" ng-if="$ctrl.section.name == 'news'">
      <div class="date" ng-bind="$ctrl.post.date"></div>
      <h2 ng-bind-html="$ctrl.post.title"></h2>
      <div class="postcontent" ng-bind-html="$ctrl.post.content"></div>
    </div>

    <div id="info-mask" ng-click="$ctrl.showItem = false" ng-show="$ctrl.showItem"></div>
    <div class="info nicescroll" ng-show="$ctrl.showItem">
      <img class="title-image" ng-src="{{$ctrl.post.titleImage}}" ng-if="$ctrl.post.titleImage"/>
      <div class="infoinner">
        <h2 id="infotitle" ng-bind-html="$ctrl.post.title"></h2>
        <div class="postcontent" ng-bind-html="$ctrl.post.content"></div>
      </div>
    </div>
  </div>
  <navbar backlink="{{$ctrl.backLink}}" dis="$ctrl.isContrast"></navbar>
</div>
