.hotels, .hotels .info {
  background-image: url('/images/backhotels.png');
}

.hotels .left .define {
  background-color: #007cc4;
  background-position: -194px -28px;
  background-size: 950%;
}

.holiday, .holiday .info {
  background-image: url('/images/backholiday.png');
}

.holiday .left .define {
  //background-color: #e06e00;
  background-color: #e06e00;
  background-position: 0 0;
  background-size: 660% auto;
}

.holiday .catimage {
  background: url('/images/activeholiday.jpg');

}

.surroundings, .surroundings .info {
  background-image: url('/images/backsurrounds.png');
}

.surroundings .left .define {
  background-color: #5094a4;
  background-position: -438px -10px;
  background-size: 794% auto;
}

.surroundings .catimage {
  background: url('/images/surrounds.jpg');
}

.enjoying, .enjoying .info {
  background-image: url('/images/backenjoying.png');
}

.enjoying .left .define {
  background-color: #5094a4;
  background-position: -295px -8px;
  background-size: 794% auto;
}

.enjoying .catimage {
  background: url('/images/enjoying.jpg');
}

.news {
  //background-image: url('/images/backnews.png');
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d65200+0,ee3543+100 */
  background: #d65200; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #d65200 0%, #ee3543 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #d65200 0%,#ee3543 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #d65200 0%,#ee3543 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d65200', endColorstr='#ee3543',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  .define {
    //background-color: #f1505f;
    background-color: transparent;
    background-position: -701px -27px;
    background-size: 950%;
  }
}

.posts {
  .left,
  .right {
    float: left;
    box-sizing: border-box;
    padding: 15px;
    height: 100%;
  }
  .right {
    width: 880px;
    padding-left: 0;
    position: relative;
    .inner {
      background: #fff;
      height: 100%;
      box-sizing: border-box;
      padding: 60px 45px 60px 60px;
      .date {
        background: #f1505f;
        color: #fff;
        display: inline-block;
        font-size: 29px;
        padding: 4px 50px 8px;
      }
      h2 {
        color: #f1505f;
        padding: 15px 0 10px;
        margin: 0;
      }
      p {
        margin-bottom: 17px;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
  .left {
    width: 400px;
    .catimage {
      width: 365px;
      height: 247px;
      display: inline-block;
    }
    .define, h1 {
      margin: 0;
      display: inline-block;
      vertical-align: middle;
    }
    .define {
      width: 110px;
      height: 110px;
      border-radius: 50%;
      border: 1px solid #fff;
      background-image: url(/images/sprites.png);
    }
    h1 {
      color: #fff;
      font-size: 30px;
      padding: 0 0 0 14px;
      //display: block;
      width: 64%;
      text-align: left;
      line-height: 37px;
    }
    &.cat {
      .define {
        display: block;
        margin: -36px auto 0;
        position: relative;
        background-image: url(/images/sprites.png);
      }
      h1 {
        text-align: center;
        padding: 5px 0;
        margin-bottom: 60px;
        display: block;
        width: 100%;
      }
      ul.leftmenu {
        li {
          a {
            text-align: center;
            display: block;
            padding-bottom: 31px;
            font-size: 30px;
            width: 100%;
          }
        }
      }
    }
    #menu-container {
      height: 766px;
    }
  }
  &.news {
    .left {
      ul.leftmenu {
        li a {
          display: inline-block;
          vertical-align: middle;
          width: 220px;
        }
      }
    }
  }
  &.contrast {
    background: #000;
    .info {
      background: #000;
    }
    .left .define {
      background-color: #000;
    }
    *, img {
      filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
    }
  }
}

ul.leftmenu {
  border-top: 1px solid #fff;
  margin-top: 22px;
  position: relative;
  //overflow: hidden;
  li {
    border-bottom: 1px solid #fff;
    &:hover, &.selected {
      background-color: rgba(0, 0, 0, .2);
    }
    a {
      text-decoration: none;
      color: #fff;
      position: relative;

      font-size: 19px;
      display: inline-block;
      vertical-align: middle;
      width: 220px;
      text-align: left;
      padding: 25px 0;
    }
    img {
      width: 91px;
      display: inline-block;
      margin: 7px 15px 7px 0;
      position: relative;
      z-index: 1;
      vertical-align: middle;
    }
    span.infomenu {
      width: 30px;
      height: 30px;
      background-image: url(/images/sprites.png);
      background-position: -185px -343px;
      display: inline-block;
      vertical-align: middle;
    }
    span.white {
      display: block;
      width: 145px;
      white-space: nowrap;
      background: #fff;
      color: #f1505f;
      font-weight: bold;
      font-size: 14px;
      box-sizing: border-box;
      padding: 5px;
      text-align: center;
      margin-bottom: 5px;
    }
  }
}

#map-outer, #map {
  height: 100%;
}

#info-mask {
  position: absolute;
  background: #333;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.info {
  width: 655px;
  height: 700px;
  //background-color: #007cc4;
  // background: url('/images/backhotels.png');
  position: absolute;
  top: 150px;
  left: 101px;
  overflow: auto;
}

.infoinner {
  padding: 9px 20px 50px;
  color: #fff;
}

.infoinner p {
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 15px;
}

.info .images img {
  display: inline-block;
  margin: 10px 15px 0 0;
  vertical-align: top;
}

.info .images img:last-child {
  margin-right: 0;
}

.mark {
  width: 32px;
  height: 45px;
  position: absolute;
  background-size: 100% auto;
}

.mark.hotelsmark {
  background-image: url(/images/mark-hotels.png);
  &.pink {
    background-image: url(/images/mark-hotels-pink.png);
  }
}

/*idish*/
.rtl .left h1 {
  padding: 0 14px 0 0;
  text-align: right;
}

.rtl ul.leftmenu li a {
  text-align: right !important;
}

.rtl ul.leftmenu li img {
  margin: 7px 0 7px 15px;
}
