<div class="main lang" key-nav no-play="true"
ng-class="{contrast: $ctrl.abService.contrast, large: $ctrl.abService.large}">
    <div class="small nav">
        <ul class="rtl">
            <li class="disabled">
                <a href="" ng-click="showExpire()" nav-item="'Enter'"></a>
            </li>
        </ul>
    </div>
    <ul class="top">
        <li ng-click="$ctrl.home('en')" nav-item="1">
            <a href="">
                Welcome to Netanya
            </a>
        </li>
        <li ng-click="$ctrl.home('ru')" nav-item="2">
            <a href="#">
                Добро пожаловать в Нетанию
            </a>
        </li>
        <li ng-click="$ctrl.home('fr')" nav-item="3">
            <a href="#">
                Bienvenue à Netanya
            </a>
        </li>
        <li ng-click="$ctrl.home('he')" class="rtl" nav-item="4">
            <a href="">
            ברוכים הבאים
            לנתניה
            </a>
        </li>
    </ul>
    <ab-menu></ab-menu>
</div>
