<div class="main lang">
    <div class="small nav">
        <ul>
            <li class="disabled">
                <a href="#"></a>
                <ul>
                    <li>
                        <a href="">>תפריט נגישות</a>
                    </li>
                    <li>
                        <a href="">>ורא מס</a>
                            </li>
                    <li>
                        <a href="">>יווט מקלדת<</a>
                    </li>
                    <li>
                        <a href="">>דגשת קישורים<</a>
                    </li>
                    <li>
                        <a href="">>גדלת/הקטנת גופן<</a>
                    </li>
                    <li>
                        <a href="">>צב ניגודיות גבוהה<</a>
                    </li>
                    <li>
                        <a href="">>יפוס<</a>
                    </li>
                    <a class="close"></a>
                </ul>
            </li>
        </ul>
    </div>
    <ul class="top">
        <li ng-click="$ctrl.home('en')">
            <a href=""/>
                Welcome to Netanya
            </a>
        </li>
        <li ng-click="$ctrl.home('ru')">
            <a href="#"/>
                Добро пожаловать в Нетанию
            </a>
        </li>
        <li ng-click="$ctrl.home('fr')">
            <a href="#"/>
                Bienvenue à Netanya
            </a>
        </li>
        <li ng-click="$ctrl.home('he')">
            <a href=""/>
            ברוכים הבאים
            לנתניה
            </a>
        </li>
    </ul>
</div>
