//@import url(http://fonts.googleapis.com/css?family=Roboto);

$primaryColor: #0277bd;
$accentColor: #1de9b6;
$bgColor: #efefef;
$darkBgColor: #263238;
$lightBgColor: #37474f;
$lightTextColor: #f5f5f5;
$darkTextColor: #212121;

body {
  line-height: 1;
}

/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

article, aside, audio, canvas, command, datalist, details, figcaption, figure, footer, header, hgroup, keygen, mark, menu, meter, nav, output, progress, rp, rt, ruby, section, source, summary, time, video, wbr, div {
  display: block;
  box-sizing: border-box;
}

.clear {
  clear: both;
  content: "";
  display: block;
  height: 0;
  font-size: 0;
  overflow: hidden;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto !important;
  box-sizing: border-box;
}

/*LAYOUT*/

.main {
  width: 1280px;
  height: 1024px;
  margin: 0 auto;
  position: relative;
  font-family: 'Open Sans';
  background-size: cover;
}

.small.nav {
  padding: 0;
  position: absolute;
  bottom: 25px;
  left: 30px;
  li {
    display: inline-block;
    margin-right: 15px;
    a {
      width: 55px;
      height: 55px;
      padding: 0;
      display: block;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid #fff;
      background-image: url('/images/sprites.png');
    }
    a:hover {
      background-color: #0061a1;
    }

    &.earth a {
      background-position: -19px -230px;
    }
    &.disabled {
      position: relative;
      a {
        background-position: -93px -229px;
        position: relative;
        z-index: 20;
      }
    }
    &.home {
      background: none;
      a {
        background-position: -97px -326px;
      }
    }
    &.back a {
      background-position: -10px -326px;
    }
  }
}

.left,
.right {
  float: left;
  box-sizing: border-box;
  padding: 15px;
  height: 100%;
}

.left {
  width: 400px;
  .define {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: block;
    margin: -36px auto 0;
    position: relative;
    background-image: url(/images/sprites.png);
  }
  h1 {
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding: 5px 0;
    margin-bottom: 60px;
  }
  ul.leftmenu {
    border-top: 1px solid #fff;
    overflow: auto;
    margin-top: 22px;
    height: 766px;
    position: relative;
    li {
      border-bottom: 1px solid #fff;
      &:hover {
        background: rgba(0, 0, 0, .2);
      }
      a {
        text-decoration: none;
        color: #fff;
        text-align: center;
        display: block;
        padding: 25px 0 31px;
        font-size: 30px;
        position: relative;
        z-index: 5;
      }
      img {
        width: 91px;
        display: inline-block;
        margin: 7px 15px 7px 0;
        position: relative;
        z-index: 1;
        vertical-align: middle;
      }
      span.infomenu {
        width: 30px;
        height: 30px;
        background-image: url(/images/sprites.png);
        background-position: -185px -343px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

#map-outer, #map {
  height: 100%;
}

#info-mask {
  position: absolute;
  background: #333;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.info{
    width: 655px;
    height: 700px;
    //background-color: #007cc4;
    // background: url('/images/backhotels.png');
    position: absolute;
    top: 150px;
    left: 101px;
    overflow: auto;
}
.infoinner{
    padding: 9px 20px 50px;
    color: #fff;
}
.infoinner p{
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 15px;
}
.info .images img{
    display: inline-block;
    margin: 10px 15px 0 0;
    vertical-align: top;
}
.info .images img:last-child{
    margin-right: 0;
}


.right {
  width: 880px;
  padding-left: 0;
  position: relative;
}

.mark {
  width: 32px;
  height: 45px;
  position: absolute;
  background-size: 100% auto;
}

h2 {
  color: #fff;
  font-size: 29px;
  margin-bottom: 10px;
}

.rightinner {
  position: relative;
}

/*RTL STYLES*/
.main.rtl {
  direction: rtl;
}

.rtl .left,
.rtl .right {
  float: right;
}

.rtl .right {
  padding-right: 0;
  padding-left: 15px;
}

.rtl .small.nav {
  left: auto;
  right: 30px;
}
