//@import url(http://fonts.googleapis.com/css?family=Roboto);

$primaryColor: #0277bd;
$accentColor: #1de9b6;
$bgColor: #efefef;
$darkBgColor: #263238;
$lightBgColor: #37474f;
$lightTextColor: #f5f5f5;
$darkTextColor: #212121;

body {
  line-height: 1;
}

/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

article, aside, audio, canvas, command, datalist, details, figcaption, figure, footer, header, hgroup, keygen, mark, menu, meter, nav, output, progress, rp, rt, ruby, section, source, summary, time, video, wbr, div {
  display: block;
  box-sizing: border-box;
}

.clear {
  clear: both;
  content: "";
  display: block;
  height: 0;
  font-size: 0;
  overflow: hidden;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto !important;
  box-sizing: border-box;
}

/*LAYOUT*/

.main {
  width: 1280px;
  height: 1024px;
  margin: 0 auto;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  background-size: cover;
  &.rtl, .rtl {
    font-family: Tahoma, Arimo, sans-serif;
  }
}


h2 {
  color: #fff;
  font-size: 29px;
  margin-bottom: 10px;
}

/*RTL STYLES*/
.main.rtl {
  direction: rtl;
}

.rtl .left,
.rtl .right {
  float: right;
}

.rtl .right {
  padding-right: 0;
  padding-left: 15px;
}

.rtl .small.nav {
  left: auto;
  right: 30px;
}
