<div class="main news">

    <div class="left">
        <div class="define"></div>
        <h1>Netanya News & Events</h1>
        <ul id="leftmenu" class="leftmenu" ng-nicescroll nice-option="{touchbehavior:true, cursorcolor: '#c71f24'}">
            <li ng-repeat="post in $ctrl.posts track by $index" ng-click="$ctrl.setCurrentContent(post)">
                <img src="" ng-src="{{post.thumbnail}}" width="93"/>
              <a href="#" ><span class="white" ng-bind="post.custom_fields.hwe_date[0]"></span> <span ng-bind-html="post.title"></span></a>
                <span class="infomenu"></span>
            </li>
<!--
            <li>
                <img src="/images/newsleft02.jpg" />
                <a href="#" ><span class="white">18-19.10.2017</span>Beer festival – Oktoberfest Netanya 2017</a>
                <span class="infomenu"></span>
            </li>
            <li>
                <img src="/images/newsleft03.jpg" />
                <a href="#" ><span class="white">Until 25.10.2017</span>A new exhibition –
                    ”Made of Paper”</a>
                <span class="infomenu"></span>
            </li>
            <li>
                <img src="/images/newsleft04.jpg" />
                <a href="#" ><span class="white">08.09.2017, 15.09.17</span>Vitkin Winery – A double wine celebration</a>
                <span class="infomenu"></span>
            </li>
            <li>
                <img src="/images/newsleft05.jpg" />
                <a href="#" ><span class="white">08.09-09.09.2017</span>2017 Netanya Culture Days</a>
                <span class="infomenu"></span>
            </li>
-->
        </ul>
    </div>
    <div class="right">
        <div class="inner" ng-nicescroll nice-option="{touchbehavior:true, cursorcolor: '#c71f24'}">
          <div class="date" ng-bind="$ctrl.currentPost.custom_fields.hwe_date[0]"></div>
          <h2 ng-bind-html="$ctrl.currentPost.title"></h2>
          <div ng-bind-html="$ctrl.currentPost.content"></div>
        </div>
    </div>
    <div class="small nav">
        <ul>
            <li class="back">
                <a href="" ui-sref="home"/></a>
            </li>
            <li class="home">
                <a href="" ui-sref="language" /></a>
            </li>
            <li class="disabled">
                <a href="#" /></a>
            </li>
        </ul>
    </div>
</div>
