.contacts {
  background: url('/images/backcontacts.png');
  background-size: cover;
  padding-top: 81px;
  text-align: center;
  img {
    margin-bottom: 54px;
  }
  p {
    color: #fff;
    font-size: 29px;
    padding-bottom: 11px;
  }
  &.contrast {
    background: #000;
    .info {
      background: #000;
    }
    .left .define {
      background-color: #000;
    }
    *, img {
      filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
    }
  }
}

.contacts.rtl {
  background: url('/images/backcontactsrtl.png');
}
